name: Benchmark

on:
    workflow_dispatch:
    push:

concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  benchmark:
    name: Run benchmark
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        language:
          - "crystal"
          - "go"
          - "nodejs"
          - "php"
          - "python"
          - "ruby"
    env:
      ISHOCON_APP_LANG: ${{ matrix.language }}
      UNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
    steps:
      - uses: actions/checkout@v4
      - name: Replace base image in docker-compose.yml with github actor name
        run: |
          make change-lang
          sed -i 's/ishocon2-app-base/${{ env.UNAME }}\/ishocon2-app-base/g' ./docker-compose.yml
          sed -i 's/ishocon2-bench/${{ env.UNAME }}\/ishocon2-app-bench/g' ./docker-compose.yml
          sed -i 's/ishocon2-app-${{ env.ISHOCON_APP_LANG }}/${{ env.UNAME }}\/ishocon2-app-${{ env.ISHOCON_APP_LANG }}/g' ./docker-compose.yml
          cat ./docker-compose.yml
      - name: Pull docker images
        run: make pull
      - run: make build
        timeout-minutes: 10
      - run: make up bench-with-db-restart
        timeout-minutes: 10
      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2
